* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Tahoma, sans-serif;
}
.control-game {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(3, 169, 244, 0.9);
}
.control-game span {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: #f44336;
    padding: 15px 25px;
    font-size: 30px;
    text-align: center;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 2px 2px 1px #000;
}
.control-game span:hover {
    transform: translate(-50%, -60%);
}
.info-container {
    width: 1080px;
    max-width: 90%;
    margin: 20px auto 0;
    background-color: #f6f6f6;
    padding: 20px;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    border: 2px solid #2196f3;
}
.game-blocks-container {
    display: flex;
    width: 1100px;
    max-width: 95%;
    flex-wrap: wrap;
    margin: 20px auto;
}
.game-blocks-container .game-block {
    height: 200px;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
    flex: 1 0 200px;
    
}
@-webkit-keyframes beak {
    to {
        transform: rotateY(180deg);
    }
}
@keyframes beak {
    to {
        transform: rotateY(180deg);
    }
}
.game-blocks-container .game-block i {
    font-size: 140px;
    margin-top: 30px;
}
.game-blocks-container .game-block .front {
    background-color: #333;
    line-height: 200px;
}
.game-blocks-container .game-block .front::before {
    content: "?";
    font-size: 140px;
    color: #fff;
    /* font-weight: bold; */
}
.game-blocks-container .game-block .back {
    background-color: #607d88;
    transform: rotateY(180deg);
}

.game-blocks-container .game-block .face {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 5px solid #2196f3;
}
.game-blocks-container .game-block.found-match,
.game-blocks-container .game-block.is-flipped {
    transform: rotateY(180deg);
    pointer-events: none;
}
.game-blocks-container.no-clicking {
    pointer-events: none;
}
